@import url(./reset.css);
@import url(./fonts.css);
@import url(./global.css);
@import url(./variables.css);
@import url(./header.css);
@import url(./footer.css);

.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
}

.main__inside {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 15px;
}

.intro__inside {
  /* max-width: calc(1000 / 1512 * 100%); */
}

.intro__heading {
  font-size: 5.375rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 98px;
  line-height: 6rem;
}

.intro__heading span {
  color: var(--purple-circle);
}

.intro__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38.5px;
  margin-bottom: 110px;
}

.intro__buttons-item {
}

.intro__button {
}

.intro__button_purple {
  background-color: var(--purple-circle);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 5px 16.6875px 5px 17px;
  font-weight: 600;
  position: relative;
  line-height: 20px;
  text-align: center;
  /* width: 96.05px; */
  height: 30px;
}

.intro__button_colorless {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 5px 16.6875px 5px 17px;
  font-weight: 600;
  position: relative;
  line-height: 20px;
  text-align: center;
  /* width: 96.05px; */
  height: 30px;
}

.intro__button_colorless:active::before,
.intro__button_purple:active::before {
  content: "";
  outline: 1px solid var(--theme-selected-circle-border);
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  aspect-ratio: 0.95/0.95;
  padding: 4px;
  box-sizing: content-box;
}

.intro__button_purple:hover {
  background-image: linear-gradient(
    90deg,
    rgb(62, 60, 170),
    rgb(62, 60, 170),
    rgb(62, 60, 170),
    rgb(62, 60, 170)
  );
}

.intro__button_purple:active::before {
  outline: 1px solid var(--purple-circle);
}

.prices {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--prices-bg);
  padding: 20px 108px;
}

.prices__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 108px;
  gap: 48px;
  padding: 86px 40px 61px 40px;
}

.prices__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 42px;
}

.prices__heading {
  font-weight: 400;
  text-align: center;
  font-size: 4.4375rem;
  line-height: 5.375rem;
}

.prices__subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.prices__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.prices__list-item {
  background-color: var(--theme-panel);
  padding: 18px 52px 18px 16px;
  border-radius: 6px;
}

.prices__title {
  font-weight: 700;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.prices__description {
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--desctiption-text-color);
}

.technologies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 128px 0px;
}

.technologies__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.technologies__heading {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.technologies__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  width: 100%;
  padding: 0 40px;
}

.technologies__list-item {
  height: 66px;
  aspect-ratio: 1/1;
}

.technologies__image {
  max-height: 100%;
  height: 100%;
}

.ad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 128px;
}

.ad_second {
}

.ad_third {
}

.ad_fourth {
}

.ad__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 0 16px;
}

.ad_second .ad__inside,
.ad_fourth .ad__inside {
  flex-direction: row-reverse;
}

.ad__part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 628px;
}

.ad__part_first {
  align-items: start;
  padding: 56px 16px;
}

.ad__part_second {
  background: linear-gradient(90deg, #cb3025 0%, #fe6459 100%);
  border-radius: 24px;
  padding: 0 8px;
}

.ad_second .ad__part_second {
  background: linear-gradient(90deg, #17acd3 0%, #52dbff 100%);
}

.ad_third .ad__part_second {
  background: linear-gradient(90deg, #2fa776 0%, #34d594 100%);
}

.ad_fourth .ad__part_second {
  background: linear-gradient(90deg, #c200a2 0%, #fe58e3 100%);
}

.ad__heading {
  color: var(--red-circle);
  margin-bottom: 17.44px;
}

.ad_second .ad__heading {
  color: var(--blue);
}

.ad_third .ad__heading {
  color: var(--green-circle);
}

.ad_fourth .ad__heading {
  color: var(--pink);
}

.ad__title {
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: left;
  letter-spacing: -0.0625rem;
  font-weight: 400;
  margin-bottom: 66.56px;
}

.ad__description {
  margin-bottom: 66.56px;
  /* width: calc(438 / 1512 * 100%); */
  text-align: left;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.ad__button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 7px 32px;
  border-radius: 9999px;
  box-shadow: 0 0.25px 0px 1.25px var(--red-circle);
}

.ad_second .ad__button {
  box-shadow: 0 0.25px 0px 1.25px var(--blue);
}

.ad_third .ad__button {
  box-shadow: 0 0.25px 0px 1.25px var(--green-circle);
}

.ad_fourth .ad__button {
  box-shadow: 0 0.25px 0px 1.25px var(--pink);
}

.ad__button:hover {
  background-color: var(--red-circle);
  box-shadow: inset 0 0.25px 0px 1.25px var(--red-circle),
    0 0.25px 0px 1.25px var(--red-circle);
}

.ad_second .ad__button:hover {
  background-color: var(--blue);
  box-shadow: none;
}

.ad_third .ad__button:hover {
  background-color: var(--green-circle);
  box-shadow: none;
}

.ad_fourth .ad__button:hover {
  background-color: var(--pink);
  box-shadow: none;
}

.ad__frame {
  background: rgba(26, 27, 30, 0.5);
  box-shadow: 0px 24px 24px -10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px 8px;
}

.ad__image {
  width: 442px;
  border-radius: 10px;
}

.ad__image-item {
  max-width: 100%;
  border-radius: 10px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--theme-panel);
  margin-bottom: 128px;
}

.about__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 108px;
}

.about__heading {
  margin: 0;
  margin-bottom: 24px;
  background: linear-gradient(
    90deg,
    #fe6459 0%,
    #fedd40 16.67%,
    #53e7ab 33.33%,
    #52dbff 50%,
    #6967e2 66.67%,
    #fe58e3 83.33%,
    #fe6459 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.about__title {
  margin-bottom: 24px;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  letter-spacing: -0.0625rem;
  font-weight: 400;
}

.about__info {
  font-size: 1.375rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 86px;
}

.about__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
}

.about__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.about__image {
}

.about__image-item {
}

.about__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20.05px;
  flex-direction: column;
}

.about__subtitle {
  text-align: left;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.75rem;
}

.about__description {
  text-align: left;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(../img/Image.jpg) 0 0 / cover no-repeat scroll;
  height: 100%;
  margin-bottom: 128px;
}

.reviews__inside {
  padding: 80px 160px 42px 160px;
  overflow-x: hidden;
  height: 100%;
}

.reviews__heading {
  margin-bottom: 46px;
}

.reviews__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  height: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 17px;
}

.reviews__list-item {
  background-color: var(--theme-panel);
  padding: 31px 22.8px 28px 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 370px;
  height: 580px;
  border-radius: 40px;
}

.reviews__text {
  line-height: 1.6875rem;
  font-size: 1.3125rem;
  text-align: left;
  height: 100%;
}

.reviews__border {
  margin-top: 51px;
  margin-bottom: 18px;
  height: 2px;
  width: 100%;
  background-color: var(--font-color);
}

.reviews__user {
  justify-self: end;
  display: flex;
  align-items: flex-start;
  gap: 27px;
  justify-content: flex-start;
  width: 100%;
}

.reviews__user-photo {
  width: 72px;
  aspect-ratio: 1/1;
}

.reviews__user-photo-item {
  max-width: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  display: block;
  border-radius: 100%;
  object-fit: cover;
}

.reviews__userdata {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.reviews__username {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.reviews__userservice {
  font-size: 1rem;
  line-height: 1.4375rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03125rem;
}

.works {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 148px;
}

.works__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
  overflow-x: hidden;
  width: 100%;
  padding: 0 36px;
}

.work__header {
  margin-bottom: 46px;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  padding: 0 17px;
  gap: 23px;
  border-radius: 40px;
  width: 100%;
}

.work__list-item {
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 401px;
  height: 401px;
}

.work__list-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 401px;
  height: 401px;
  overflow: hidden;
}

.work__image {
  width: 401px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.work__image-item {
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 41px;
}

.work__desc {
  background-color: var(--purple-circle);
  border-radius: 0 0 40px 40px;
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: -120px;
  transition: all 115ms linear 0s;
  gap: 5px;
}

.work__list-link:hover .work__desc {
  margin-bottom: 119px;
  left: 0.1px;
}

.work__subtitle {
  font-size: 0.85rem;
  font-weight: 400;
}

.work__title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.contacts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, #313c77 0%, #0e0f23 101.97%);
  backdrop-filter: blur(2500px);
  padding: 78px 71px;
  padding-bottom: 88px;
  margin-bottom: 88px;
}

.contacts__inside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contacts__header {
  margin-top: 26px;
  margin-bottom: 86px;
}

.contacts__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 56px;
  padding-bottom: 20px;
  width: 100%;
  gap: 60px;
}

.contacts__info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 48px;
}

.contacts__address,
.contacts__telephone {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.contacts__title {
  font-size: 3rem;
  line-height: 3.25rem;
}

.contacts__description {
  margin: 0;
}

.contacts__telephone {
}

.contacts__map {
  border-radius: 13px;
  width: 53%;
}

.contacts__map-item {
  border-radius: 13px;
  width: 100%;
}
