.order,
.consult,
.survey,
.alert,
.survey__update {
  width: 100%;
  display: none;
  opacity: 0%;
  visibility: collapse;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  transition: all 0.55s linear 0s;
}

.order.active,
.consult.active,
.survey.active,
.alert.active,
.survey__update.active {
  display: flex;
  opacity: 100%;
  visibility: visible;
  transition: all 0.55s linear 0s;
}

.order-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 41px;
  transition: all 0.25s linear 0s;
}

.order__area,
html.area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: var(--selection-clr);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

html.area {
  backdrop-filter: blur(0px);
  background: none;
  z-index: 5;
}

.order__form {
  background-color: var(--theme-panel-border);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 7;
  padding: 50px;
  border-radius: 41px;
  transition: all 0.25s linear 0s;
}

@media (max-width: 1400px) {
  .order__form {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .order__form {
    width: 95%;
  }
}

.order__close {
}

.order__textarea {
  min-height: 168px !important;
  max-width: 100%;
  min-width: 90%;
  max-height: 250px;
  color: var(--desctiption-text-color);
  font-family: inherit;
  line-height: inherit;
  line-height: 3.25rem;
  padding: 10.5px !important;
}

.order__textarea_edit {
  color: var(--font-color);
}

.order__input {
  width: 100%;
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.order__menu {
  color: var(--font-color);
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.order__option {
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.order__button {
  font-size: 1rem !important;
  line-height: 1rem !important;
}

.button-order {
  cursor: pointer;
}
