@import url(./../variables.css);
@import url(./../fonts.css);
@import url(./../reset.css);
@import url(./../global.css);
@import url(../components/header.css);
@import url(./../components/footer.css);
@import url(./../components/popup.css);

body {
  background-color: var(--black);
}

.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
}

.main__inside {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 15px;
}

.intro__inside {
}

.intro__heading {
  font-size: 5.375rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 98px;
  line-height: 6rem;
}

@media (max-width: 576px) {
  .intro__heading {
    font-size: 2.375rem;
    line-height: 3rem;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.intro__heading span {
  color: var(--purple-circle);
}

.intro__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38.5px;
  margin-bottom: 110px;
}

.intro__buttons-item {
}

.intro__button {
}

.intro__button_purple {
  background-color: var(--purple-circle);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 5px 16.6875px 5px 17px;
  font-weight: 600;
  position: relative;
  line-height: 20px;
  text-align: center;
  /* width: 96.05px; */
  height: 30px;
}

.intro__button_colorless {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 5px 16.6875px 5px 17px;
  font-weight: 600;
  position: relative;
  line-height: 20px;
  text-align: center;
  /* width: 96.05px; */
  height: 30px;
}

@media (max-width: 1200px) {
  .intro__button_colorless {
    color: var(--font-color);
    background-color: var(--theme-panel);
  }
}

.intro__button_colorless:active::before,
.intro__button_purple:active::before {
  content: "";
  outline: 1px solid var(--theme-selected-circle-border);
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  aspect-ratio: 0.95/0.95;
  padding: 4px;
  box-sizing: content-box;
}

.intro__button_purple:hover {
  background-image: linear-gradient(
    90deg,
    rgb(62, 60, 170),
    rgb(62, 60, 170),
    rgb(62, 60, 170),
    rgb(62, 60, 170)
  );
}

.intro__button_purple:active::before {
  outline: 1px solid var(--purple-circle);
}

.prices {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--prices-bg);
  padding: 20px 108px;
}

@media (max-width: 576px) {
  .prices {
    padding: 20px 10px;
  }
}

.prices__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 108px;
  gap: 48px;
  padding: 86px 40px 61px 40px;
}

@media (max-width: 576px) {
  .prices__inside {
    padding: 86px 10px 61px 10px;
  }
}

.prices__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 42px;
}

.prices__heading {
  font-weight: 400;
  text-align: center;
  font-size: 4.4375rem;
  line-height: 5.375rem;
}

@media (max-width: 576px) {
  .prices__heading {
    font-size: 2.4375rem;
    line-height: 2.375rem;
  }
}

.prices__subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.prices__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .prices__list {
    justify-content: center;
  }
}

.prices__list-item {
  background-color: var(--theme-panel);
  padding: 18px 52px 18px 16px;
  border-radius: 6px;
}

.prices__list-item:hover {
  background-color: var(--max-purlpe);
}

@media (max-width: 1200px) {
  .prices__list-item {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .prices__list-item {
    width: 100%;
  }
}

.prices__title {
  font-weight: 700;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.prices__description {
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--desctiption-text-color);
}

.technologies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 128px 0px;
}

.technologies__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.technologies__heading {
  /* font-size: 0.75rem; */
  font-size: 1.35rem;
  line-height: 1rem;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 41px;
}

@media (max-width: 576px) {
  .technologies__heading {
    line-height: 1.5rem;
  }
}

.technologies__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  width: 100%;
  padding: 0 40px;
  flex-wrap: wrap;
}

.technologies__list-item {
  height: 66px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies__image {
  max-height: 100%;
  height: 100%;
}

.advertisement {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 128px;
}

.advertisement_second {
}

.advertisement_third {
}

.advertisement_fourth {
}

.advertisement__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48.5px;
  padding: 0 16px;
}

.advertisement_second .advertisement__inside,
.advertisement_fourth .advertisement__inside {
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .advertisement_second .advertisement__inside,
  .advertisement_fourth .advertisement__inside {
    flex-direction: row;
  }
}

.advertisement__part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 628px;
}

@media (max-width: 1200px) {
  .advertisement__part {
    height: fit-content;
    padding: 5px !important;
  }
}

.advertisement__part_first {
  align-items: start;
  padding: 56px 16px;
}

.advertisement__part_second {
  background: linear-gradient(90deg, #cb3025 0%, #fe6459 100%);
  border-radius: 24px;
  padding: 0 8px;
}

.advertisement_second .advertisement__part_second {
  background: linear-gradient(90deg, #17acd3 0%, #52dbff 100%);
}

.advertisement_third .advertisement__part_second {
  background: linear-gradient(90deg, #2fa776 0%, #34d594 100%);
}

.advertisement_fourth .advertisement__part_second {
  background: linear-gradient(90deg, #c200a2 0%, #fe58e3 100%);
}

.advertisement__heading {
  color: var(--red-circle);
  margin-bottom: 17.44px;
}

.advertisement_second .advertisement__heading {
  color: var(--blue);
}

.advertisement_third .advertisement__heading {
  color: var(--green-circle);
}

.advertisement_fourth .advertisement__heading {
  color: var(--pink);
}

.advertisement__subtitle {
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: left;
  letter-spacing: -0.0625rem;
  font-weight: 400;
  margin-bottom: 66.56px;
}

@media (max-width: 576px) {
  .advertisement__subtitile {
    font-size: 2.4rem;
    line-height: 2.25rem;
  }
}

.advertisement__description {
  margin-bottom: 66.56px;
  /* width: calc(438 / 1512 * 100%); */
  text-align: left;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.advertisement__button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 7px 32px;
  border-radius: 9999px;
  box-shadow: 0 0.25px 0px 1.25px var(--red-circle);
}

.advertisement_second .advertisement__button {
  box-shadow: 0 0.25px 0px 1.25px var(--blue);
}

.advertisement_third .advertisement__button {
  box-shadow: 0 0.25px 0px 1.25px var(--green-circle);
}

.advertisement_fourth .advertisement__button {
  box-shadow: 0 0.25px 0px 1.25px var(--pink);
}

.advertisement__button:hover {
  background-color: var(--red-circle);
  box-shadow: inset 0 0.25px 0px 1.25px var(--red-circle),
    0 0.25px 0px 1.25px var(--red-circle);
}

.advertisement_second .advertisement__button:hover {
  background-color: var(--blue);
  box-shadow: none;
}

.advertisement_third .advertisement__button:hover {
  background-color: var(--green-circle);
  box-shadow: none;
}

.advertisement_fourth .advertisement__button:hover {
  background-color: var(--pink);
  box-shadow: none;
}

.advertisement__frame {
  background: rgba(26, 27, 30, 0.5);
  box-shadow: 0px 24px 24px -10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px 8px;
}

.advertisement__image {
  width: 100%;
  max-width: 442px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .advertisement__image {
    width: 100%;
  }
}

.advertisement__image-item {
  max-width: 100%;
  border-radius: 10px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--theme-panel);
}

.about__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 108px 226px 108px 226px;
}

@media (max-width: 1200px) {
  .about__inside {
    padding: 104px 15px 54px 31.5px;
  }
}

.about__heading {
  margin: 0;
  margin-bottom: 18px;
  background: linear-gradient(
    90deg,
    #fe6459 0%,
    #fedd40 16.67%,
    #53e7ab 33.33%,
    #52dbff 50%,
    #6967e2 66.67%,
    #fe58e3 83.33%,
    #fe6459 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.about__title {
  margin-bottom: 24px;
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  letter-spacing: -0.0625rem;
  font-weight: 500;
}

/* .about__title span {
  text-decoration: underline dashed #fff;
} */

@media (max-width: 576px) {
  .about__title {
    font-size: 2.4rem;
    line-height: 2.25rem;
  }
}

.about__info {
  font-size: 1.375rem;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 86px;
}

@media (max-width: 576px) {
  .about__info {
    font-size: 1.1rem;
    line-height: 2.5rem;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.about__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .about__list {
    display: none;
  }
}

.about__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.about__image {
}

.about__image-item {
}

.about__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20.05px;
  flex-direction: column;
}

.about__subtitle {
  text-align: left;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.75rem;
}

.about__description {
  text-align: left;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url(../../img/AztpQfyT_4x.webp) 0 0 / cover no-repeat scroll;
  height: 100%;
  margin-bottom: 128px;
}

.reviews__inside {
  padding: 80px 160px 42px 160px;
  overflow: hidden;
  height: 100%;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .reviews__inside {
    padding: 80px 12px 42px 12px;
  }
}

@media (max-width: 576px) {
  .reviews__inside {
    padding: 80px 0px 42px 0px;
    max-width: 95%;
  }
}

.reviews__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.5px;
  position: relative;
  flex-wrap: wrap;
}

.reviews__group {
  position: relative;
}

.reviews__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  box-shadow: 0 0.25px 0px 1.25px var(--theme-panel);
  background-color: var(--font-color);
  width: fit-content;
  align-self: center;
  color: var(--theme-panel);
}

.reviews__button:hover {
  background-color: var(--purple-circle);
  box-shadow: inset 0 0.25px 0px 1.25px var(--purple-circle),
    0 0.25px 0px 1.25px var(--purple-circle);
  color: var(--font-color);
}

.reviews__controls-menu {
  position: absolute;
  top: -256.5% !important;
  right: -33.5% !important;
  display: flex;
  align-items: center;
  justify-content: center !important;
  flex-direction: column;
  gap: 33.5px !important;
}

.reviews__controls-menu_positive,
.reviews__controls-menu_negative,
.reviews__controls-menu_usual {
  margin: 0;
}

.reviews__heading {
  margin-bottom: 46px;
}

.reviews__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 24px;
  height: 100%;
  overflow: overlay;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 17px;
  border-radius: 40px;
}

@media (max-width: 576px) {
  .reviews__list {
    padding: 0 0px;
  }
}

.reviews__list::-webkit-scrollbar {
  height: 12.5px;
}

.reviews__list-item {
  background-color: var(--theme-panel);
  padding: 31px 22.8px 28px 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 370px;
  height: 580px;
  /* height: 692.5px; */
  border-radius: 40px;
  max-width: calc(400 / 1903 * 100%);
}

@media (max-width: 576px) {
  .reviews__list-item {
    padding: 21px 12.8px 18px 19px;
  }
}

.reviews__text {
  line-height: 1.6875rem;
  font-size: 1.3125rem;
  text-align: left;
  height: 100%;
  word-wrap: normal;
  overflow-wrap: anywhere;
}

@media (max-width: 576px) {
  .reviews__text {
    line-height: 1.6875rem;
    font-size: 1.1125rem;
    padding: 5px;
  }
}

.reviews__border {
  margin-top: 51px;
  margin-bottom: 18px;
  height: 2px;
  width: 100%;
  background-color: var(--font-color);
}

.reviews__user {
  justify-self: end;
  display: flex;
  align-items: flex-start;
  gap: 27px;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.reviews__user-photo {
  width: 72px;
  aspect-ratio: 1/1;
}

.reviews__user-photo-item {
  max-width: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  display: block;
  border-radius: 100%;
  object-fit: cover;
}

.reviews__userdata {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.reviews__username {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.reviews__userservice {
  font-size: 1rem;
  line-height: 1.4375rem;
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03125rem;
}

.reviews__mark {
  font-size: 1rem;
  line-height: 1.3375rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-weight: 400;
  letter-spacing: -0.03125rem;
}

.reviews__menu {
  position: absolute;
  right: 0;
  font-size: 2rem !important;
  color: var(--font-color);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(grayscale(100%));
  z-index: 5;
}

.reviews__buttons {
  background-color: var(--theme-panel);
  aspect-ratio: 1/1;
  position: absolute;
  top: -102.5px;
  right: -35px;
  font-size: 1.6rem !important;
  color: var(--font-color);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid var(--input-clr);
  z-index: 5;
  display: none;
}

.reviews__buttons.active {
  display: flex;
}

.reviews__delete-btn,
.reviews__edit-btn {
  font-size: 1.6rem !important;
  color: #000;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(grayscale(100%));
  right: 0;
}

.reviews__edit-btn {
  width: 35.55px;
  aspect-ratio: 1/1;
  padding: 3.5px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__edit-btn-item {
  max-width: 100%;
}

.reviews__delete-btn:hover,
.reviews__edit-btn:hover {
  outline: 1px solid var(--subpurple-color);
}

.works {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 148px;
}

.works__inside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  padding: 0 36px;
}

@media (max-width: 576px) {
  .works__inside {
    padding: 0;
  }
}

.work__header {
  margin-bottom: 46px;
}

.work__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: overlay;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  padding: 0 17px;
  gap: 23px;
  border-radius: 40px;
  width: 100%;
}

.work__list::-webkit-scrollbar {
  height: 12.5px;
}

@media (max-width: 576px) {
  .work__list {
    padding: 0;
  }
}

.work__list-item {
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 401px;
  height: 401px;
}

.work__list-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 401px;
  height: 401px;
  overflow: hidden;
  border-radius: 41px;
}

.work__image {
  width: 401px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.work__image-item {
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 41px;
}

.work__desc {
  background-color: var(--purple-circle);
  border-radius: 5px 5px 40px 40px;
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: -120px;
  transition: all 115ms linear 0s;
  gap: 5px;
}

.work__list-link:hover .work__desc {
  margin-bottom: 119px;
  left: 0.1px;
}

.work__subtitle {
  font-size: 0.85rem;
  font-weight: 400;
}

.work__title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.contacts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, #313c77 0%, #0e0f23 101.97%);
  backdrop-filter: blur(2500px);
  padding: 78px 71px;
  padding-bottom: 88px;
  /* margin-bottom: 88px; */
}

@media (max-width: 1200px) {
  .contacts {
    padding: 78px 0px;
  }
}

.contacts__inside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contacts__header {
  margin-top: 26px;
  margin-bottom: 86px;
}

.contacts__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 56px;
  padding-bottom: 20px;
  width: 100%;
  gap: 60px;
}

@media (max-width: 1200px) {
  .contacts__content {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .contacts__content {
    padding: 0 5px;
  }
}

.contacts__info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 48px;
}

@media (max-width: 1200px) {
  .contacts__info {
    text-align: center;
    width: 100%;
    align-items: center;
  }
}

.contacts__address,
.contacts__telephone {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.contacts__title {
  font-size: 3rem;
  line-height: 3.25rem;
  font-weight: 400;
  letter-spacing: -0.0625rem;
}

@media (max-width: 1200px) {
  .contacts__title {
    align-self: center;
  }
}

@media (max-width: 576px) {
  .contacts__title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

.contacts__description {
  margin: 0;
}

@media (max-width: 1200px) {
  .contacts__description {
    text-align: center;
  }
}

.contacts__telephone {
}

.contacts__map {
  border-radius: 13px;
  width: 53%;
}

@media (max-width: 1200px) {
  .contacts__map {
    width: 100%;
  }
}

.contacts__map-item {
  border-radius: 13px;
  width: 100%;
}
